# Python Programs Using Map and Lambda

### 1. Triple all numbers in a list using `map`

In [ ]:

def triple(num):
    return num * 3

nums = [1, 2, 3, 4, 5]
tripled = list(map(triple, nums))
print("Tripled List:", tripled)

### 2. Add elements of three lists using `map` and `lambda`

In [ ]:

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
result = list(map(lambda x, y, z: x + y + z, list1, list2, list3))
print("Sum of Lists:", result)

### 3. Convert list of strings to list of lists of characters using `map`

In [ ]:

strings = ["hello", "world"]
char_lists = list(map(list, strings))
print("List of Character Lists:", char_lists)

### 4. Create a list of powers of numbers where the base is raised to the index using `map`

In [ ]:

nums = [1, 2, 8]
powers = list(map(lambda b, i: b ** i, nums, range(len(nums))))
print("Powers List:", powers)

### 5. Square each element in a list using `map`

In [ ]:

nums = [1, 2, 3]
squares = list(map(lambda x: x * x, nums))
print("Squared List:", squares)

### 6. Convert all characters to uppercase and lowercase, and eliminate duplicates

In [ ]:

seq = "sequence"
upper_unique = "".join(set(map(str.upper, seq)))
lower_unique = "".join(set(map(str.lower, seq)))
print("Unique Uppercase Characters:", upper_unique)
print("Unique Lowercase Characters:", lower_unique)

### 7. Find the difference between corresponding elements in two lists using `map`

In [ ]:

list1 = [1, 2, 3]
list2 = [0, 1, 2]
diff = list(map(lambda x, y: x - y, list1, list2))
print("Difference List:", diff)

### 8. Convert a list of integers and a tuple of integers to a list of strings

In [ ]:

nums = [1, 2, 3]
tuple_nums = (5, 7)
str_list_nums = list(map(str, nums))
str_tuple_nums = list(map(str, tuple_nums))
print("List of strings:", str_list_nums)
print("Tuple of strings:", str_tuple_nums)